<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>whatsapp web clone</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="root" class="container">
        <!-- left navigation -->
        <div class="nav">
            <div class="user_info">
                <img class="avatar_img" src="./img/avatar_4.jpg">
                <span class="username">my name</span>
                <i class="fas fa-circle-notch"></i>
                <i class="fas fa-comment-alt"></i>
                <i class="fas fa-ellipsis-v"></i>
            </div>

            <div class="banner_notifications">
                <i class="fas fa-bell-slash"></i>
                <span>
                    Ricevi notifiche di nuovi messaggi <br> 
                    <a href="#">attiva notofiche desktop</a>
                </span>
            </div>

            <div class="contacts_list_wrapper">
                <input v-model="searchContactsInput" type="text" id="search_contacts" placeholder="search contact">
                <ol class="contacts_list">
                    <li @click="displayChat(elm)" v-for="(elm) in contacts" v-if="elm.visible == true" class="contact">
                        <img class="avatar_img" :src="`./img/avatar${elm.avatar}.jpg`" alt="">
                        <span class="username">{{elm.name}}</span>
                    </li>
                </ol>
            </div>
        </div>


        <!-- before selecting a chat -->
        <div v-if="activeContact == ''" class="chat_wrapper stay_connected">
            <img src="./img/keep_yout_phone_connected.jpg" alt="">
            <h2>Keep Your Phone Connected!</h2>
        </div>

        <!-- when you select a chat -->
        <div v-else class="chat_wrapper">
            <div class="contact_info">
                <img class="avatar_img" :src="`./img/avatar${activeContact.avatar}.jpg`" alt="">
                <span class="username">
                    {{activeContact.name}} <br> 
                    <em>Ultimo accesso alle 12:00</em>
                </span>
                <i class="fas fa-search"></i>
                <i class="fas fa-paperclip"></i>
                <i class="fas fa-ellipsis-v"></i>
            </div>

            <ul class="chat">
                <li @click="showOptionsMessage(elm)" v-for="(elm, index) in activeContact.messages" :key="index" :class="elm.status" class="message messageFocus">
                    {{elm.message}}
                    <span class="date messageFocus">{{elm.date}}</span>

                    <!-- dropdown message options -->
                    <div v-if="elm.showDropdown" class="options_message" name="optionsMessage" id="options_message">
                        <div class="option_message">Info</div>
                        <div @click="deleteMessage(index)" class="option_message">Cancella</div>
                    </div>
                </li>
            </ul>

            <div class="input_message">
                <i class="far fa-smile"></i>
                <input v-model="newMessageInput" type="text" id="text_message" placeholder="inserisci il tuo messaggio">
                <i v-if="newMessageInput == ''" class="fas fa-microphone"></i>
                <i v-else @click="sendMessage()" class="fas fa-paper-plane"></i>
            </div>
        </div>
    </div>

    
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="app.js"></script>
</body>
</html>