* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    height: 100vh;
    font-family: 'Lato', sans-serif;
    background: rgb(217,219,212);
    background: linear-gradient(0deg, rgba(217,219,212,1) 85%, rgba(0,150,136,1) 85%); 
}
li {
    list-style: none;
}

.container {
    display: flex;
    width: 70%;
    height: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 2rem 0;
}
.avatar_img {
    max-width: 45px;
    border-radius: 50%;
}
.username {
    text-transform: capitalize;
}


/* _______ LEFT NAVIGATION _______ */
.nav {
    width: 30%;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: .75rem 0 0 .75rem;
    overflow: hidden;
}

.user_info {
    display: flex;
    align-items: center;
    padding: .2rem .5rem;
    background-color: #eaeaea;
}
.user_info * {
    margin: .35rem;
}
.user_info span {
    margin-right: auto;
}
.user_info img {
    max-width: 38px;
}
.user_info i {
    color: #b1b1b1;
    margin: 0 .5rem;
    cursor: pointer;
}


.banner_notifications {
    display: flex;
    align-items: center;
    padding: .85rem 1.2rem;
    background-color: #8edafc;
}
.banner_notifications i {
    font-size: 1.2rem;
    margin-right: .4rem;
    background-color: white;
    border-radius: 50%;
    color: #8edafc;
    padding: .7rem;
}
.banner_notifications span {
    font-size: .85rem;
}


.contacts_list_wrapper {
    overflow: auto;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.contacts_list {
    overflow-y: auto;
}
.contact {
    display: flex;
    align-items: center;
    padding: .5rem;
    border-bottom: 1px #f1f1f1 solid;
    cursor: pointer;
    transition: 200ms all;
}
.contact:hover {
    background-color: rgb(224, 224, 224);
}
.contact img {
    margin-right: .85rem;
}
#search_contacts {
    padding: .5rem 0;
    padding-left: 3rem;
    margin: .5rem;
    border: 1px #f1f1f1 solid;

    background-color: white;
    background-image: url('./img/search\(1\).png');
    background-position: 5%;
    background-size: 7%;
    background-repeat: no-repeat;
}
/* _______ END LEFT NAVIGATION _______ */


/* _______ CHAT WRAPPER _______ */
.chat_wrapper {
    width: 70%;
    display: flex;
    flex-direction: column;
    border-radius: 0 .75rem .75rem 0;
    overflow: hidden;
}


.contact_info {
    display: flex;
    align-items: center;
    padding: .2rem .5rem;
    background-color: #eaeaea;
    border-left: 1px #d6d6d6 solid;
}
.contact_info span {
    margin-right: auto;
}
.contact_info i {
    color: #b1b1b1;
    margin: 0 .5rem;
    cursor: pointer;
}
.contact_info em {
    font-size: .75rem;
    font-style: normal;
    text-transform: none;
}
.contact_info * {
    margin: .15rem;
}

/* if no chat is selected */
.stay_connected {
    background-color: #222f37;
    padding: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.stay_connected img {
    width: 350px;
    display: block;
    margin-bottom: 1rem;
}

.chat {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem 0 2rem;
    overflow-y: auto;
    background-image: url('./img/mine.jpg');
}
.message {
    padding: .45rem 1rem;
    align-self: flex-start;
    margin: .5rem 1rem;
    border-radius: .75rem;
    position: relative;
    cursor: pointer;
}
.message span {
    display: block;
    font-size: .75rem;
    color: grey;
    text-align: right;
    margin-top: .2rem;
}
.message.sent {
    background-color: #d5f9ba;
    align-self: flex-end;
}
.message.received {
    background-color: white;
}
/* options message dropdown */
#options_message {
    position: absolute;
    top: 80%;
    right: 0;
    z-index: 99999;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.1);
    border-radius: .25rem;
}
.option_message {
    cursor: pointer;
    padding: .5rem;
}
.option_message:hover {
    background-color: rgb(206, 206, 206);
}


.input_message {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .2rem 1.75rem;
    background-color: #eaeaea;
    border-left: 1px #d6d6d6 solid;
}
.input_message i {
    color: #6b7376;
    margin: 0 .5rem;
    cursor: pointer;
    font-size: 1.3rem;
}
#text_message {
    flex-grow: 1;
    padding: .75rem;
    border: none;
    border-radius: .25rem;
    margin: .5rem;
}
.input_message * {
    margin: .35rem;
}
/* _______ END CHAT WRAPPER _______ */